.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-dark);
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    font-weight: 600;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  
  .btn-primary:hover {
    background-color: var(--color-accent);
    cursor: pointer;
  }
  body {
    height: 100vh;
    /* overflow: hidden; */
    background-color: #1A1C1B;
  }
  
  