.registration-form-container {
  display: flex;
  max-width: 900px;
  margin: auto;
  background: #2A2C2B;
  border-radius: 10px;
  overflow: hidden;
}

.registration-form-left {
  flex: 1;
  padding: 40px;
  background-color: #1A1C1B;
  color: white;
}

.registration-form-right {
  flex: 1;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  color: white;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.primary-button {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.primary-button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-size: 12px;
}

/* Right Section Graphics */
.registration-form-right img {
  width: 70%;
  max-width: 250px;
  margin-bottom: 20px;
}

.registration-form-right button {
  border: 1px solid white;
  background: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.registration-form-right button:hover {
  background: white;
  color: black;
}
